.card {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.trash-button {
  background: transparent url(../images/Group.svg);
  background-color: transparent;
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 0;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.trash-button:hover {
  opacity: 60%;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) no-repeat center;
  width: 21px;
  height: 18px;
  padding-right: 20px;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/black-like-button.svg);
}
