.footer {
  padding: 67px 0 60px;
}

.footer__text {
  color: #545454;
  max-width: 318px;
  font-family: "Inter";
  margin: 0;
}

@media screen and (max-width: 897px) {
  .footer {
    display: flex;
    width: 564px;
  }

  .footer__text {
    width: 564px;
    margin: 48px 19px 36px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    margin: 0 auto;
    padding: 0;
    width: 282px;
    overflow-x: hidden;
  }

  .footer__text {
    width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 282px;
    margin: 0;
    overflow: hidden;
  }

  .footer__text {
    width: 282px;
  }
}
