.header {
  margin-top: 28px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

.header__image {
  margin-bottom: 42px;
}

@media screen and (max-width: 878px) {
  .header__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 580px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin: 0 0 32px 27px;
  }
}
