.profile {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 47.25px;
}

.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 24px;

  object-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) no-repeat center;
  width: 24px;
  height: 24px;
  grid-area: button;
  margin: auto;
  border: 1px solid white;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-area: description;
  margin: 7px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 370px;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) no-repeat center;
  width: 150px;
  height: 50px;
  grid-area: button;
  margin-left: auto;
  border-radius: 2px;
  border: 2px solid white;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 896px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    margin: 30px 0 36px;
  }

  .profile__title {
    text-align: center;
    margin: auto;
    max-width: 373px;
  }

  .profile__description {
    padding: 0;
    text-align: center;
    margin: auto;
    padding-top: 14px;
  }

  .profile__add-button {
    margin: 0;
  }
}
@media screen and (max-width: 597px) {
  .profile {
    margin-bottom: 36px;
  }

  .profile__info {
    width: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 36px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 240px;
    margin: 0;
    padding-right: 10px;
  }

  .profile__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .profile__add-button {
    width: 282px;
  }
}
