@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

  .profile__edit-button {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    text-align: center;
  }
  .profile__edit-button {
    margin-top: 8px;
  }
  .profile__description {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .profile__image {
    margin: 0;
  }
}
